<div class="row">
  <div class="jumbotron jumbotron-cook text-center">
    <h1>
      <span style="color: lawngreen">T</span>
      <span style="color: yellow">E</span>
      <span style="color: orange">C</span>
      <span style="color: aqua">N</span>
      <span style="color: fuchsia">O</span>
    </h1>
    <h3>FAST & FRESH FOOD</h3>
    <hr>
    <h3>COCINA</h3>
  </div>
  <div class="col-md-12 text-center">
    <div class="row">
      <span class="h3">Número de pedidos: {{orders.length}}</span>
    </div>

    <div class="row"><hr></div>

    <div class="row">
      <div class="col-md-12 scrollableContainerCook">

          <div class="row scoreBackground" style="margin: 10px 0px;" ng-repeat="order in orders">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="row border-bottom" style="padding: 15px 0px;">
                <div class="col-md-4">
                  <span class="h3">Tipo de pedido: </span>
                  <span class="h3 text-uppercase">{{order.type}}</span>
                </div>
                <div class="col-md-4">
                  <span class="h3">Nombre: </span>
                  <span class="h3 text-uppercase">{{order.name}}</span>
                </div>
                <div class="col-md-4">
                  <span class="h3">Mesa: </span>
                  <span class="h3 text-uppercase">{{order.table}}</span>
                </div>
              </div>
              <div class="row" style="padding: 15px 0px;">
                <div class="col-md-6" align="center">
                  <img width="150" height="150" src="assets/images/plato.png" alt="Imágen Plato">
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12" style="padding: 15px 0px;">
                      <span ng-repeat="ing in order.ingredients" class="h4" style="padding: 0px 10px;">{{ing.name}}{{$index+1}}</span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 text-right">
                      <span class="h5">Subtotal:</span><br>
                      <span class="h5">Servicio:</span><br>
                      <span class="h5 border-bottom">Iva:</span><br>
                      <span class="h5">Total:</span>
                    </div>
                    <div class="col-md-6 text-left">
                      <span class="h5">{{order.pay.sub | nfcurrency}}</span><br>
                      <span class="h5">{{order.pay.ser | nfcurrency}}</span><br>
                      <span class="h5 border-bottom">{{order.pay.iva | nfcurrency}}</span><br>
                      <span class="h5">{{order.pay.tot | nfcurrency}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row border-top" ng-show="order.orderOk" style="padding: 15px 0px;">
                <div class="col-md-4 col-md-offset-4">
                  <a ng-click="checkIn($index, order)" class="btn btn-md btn-block btn-primary">Entregar</a>
                </div>
              </div>
            </div>
          </div>
          
      </div>
    </div>
  </div>
</div>
