<div class="row" ng-if="errorAccount">
  <div class="col-md-8 col-md-offset-2">
    <hr>
    <div class="alert alert-danger text-center">
      <p class="h3">{{errorAccount}}</p>
      <hr>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <a ng-click="close()" class="btn btn-md btn-danger btn-block" role="button">Aceptar</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-if="welcome">
  <div class="jumbotron jumbotron-home text-center">
    <h1>
      <span style="color: lawngreen; font-family: 'Metro Retro NF';">T</span><span style="color: yellow; font-family: 'Metro Retro NF';">E</span><span style="color: orange; font-family: 'Metro Retro NF';">C</span><span style="color: aqua; font-family: 'Metro Retro NF';">N</span><span style="color: fuchsia; font-family: 'Metro Retro NF';">O</span> App
    </h1>
  </div>
</div>

<div class="row" ng-if="welcome">
  <div class="col-md-12 text-center">
    <hr>
    <div class="row" ng-if="content">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <a href="/reservar">
          <img class="img-responsive" src="assets/images/reservar.png" alt="Imagen reservar mesa">
          <h3>Reservar Mesa</h3>
        </a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <a href="/pedir">
          <img class="img-responsive" src="assets/images/pedir.png" alt="Imagen realizar pedido">
          <h3>Realizar Pedido</h3>
        </a>
      </div>
    </div>
    <hr>
    <div class="row" ng-if="content">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <a href="/calificar">
          <img class="img-responsive" src="assets/images/calificar.png" alt="Imagen calificar platos">
          <h3>Calificar Platos</h3>
        </a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <a href="/musica">
          <img class="img-responsive" src="assets/images/musica.png" alt="Imagen elegir música">
          <h3>Elegir Música</h3>
        </a>
      </div>
    </div>
    <hr>
  </div>
</div>