<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <div class="iconBar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
      </button>
      <a class="navbar-brand" ng-href="/"><span style="color: lawngreen">T</span><span style="color: yellow">E</span><span style="color: orange">C</span><span style="color: aqua">N</span><span style="color: fuchsia">O</span></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav" ng-if="navbarHome">
        <li><a ng-href="/home" ng-show="show">{{navbarHome.home}}</a></li>
        <li><a ng-href="/reservar" ng-show="show">{{navbarHome.themes}}</a></li>
        <li><a ng-href="/pedir" ng-show="show">{{navbarHome.trivia}}</a></li>
        <li><a ng-href="/calificar" ng-show="show">{{navbarHome.maps}}</a></li>
        <li><a ng-href="/musica" ng-show="show">{{navbarHome.vr}}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-if="navbarIndex">
        <li><a ng-href="/signup" ><span class="glyphicon glyphicon-user"></span> {{navbarIndex.signup}}</a></li>
        <li><a ng-href="/login" ><span class="glyphicon glyphicon-log-in"></span> {{navbarIndex.login}}</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right" ng-if="navbarHome">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">{{navbarHome.nick}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ng-href="/profile">Perfil</a></li>
          </ul>
        </li>
        <li><a ng-href="/" ng-click="logout()"><span class="glyphicon glyphicon-log-in"></span> {{navbarHome.logout}}</a></li>
      </ul>
    </div>
  </div>
</nav>
