<div class="row">
  <div class="jumbotron jumbotron-home jumbotron-tables text-center">
    <h1>
      <span style="color: lawngreen; font-family: 'Metro Retro NF';">T</span><span style="color: yellow; font-family: 'Metro Retro NF';">E</span><span style="color: orange; font-family: 'Metro Retro NF';">C</span><span style="color: aqua; font-family: 'Metro Retro NF';">N</span><span style="color: fuchsia; font-family: 'Metro Retro NF';">O</span>
    </h1>
    <h3>Realizar Pedido</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <hr>
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <a href="/reservar">
          <img class="img-responsive" src="assets/images/crear.png" alt="Imagen reservar mesa">
          <h3>Crear Plato</h3>
        </a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <a href="/pedir">
          <img class="img-responsive" src="assets/images/menu.png" alt="Imagen realizar pedido">
          <h3>Menu</h3>
        </a>
      </div>
    </div>
    <hr>
  </div>
</div>