<div class="row">
  <div class="jumbotron jumbotron-home jumbotron-tables text-center">
    <h1>
        <span style="color: lawngreen; font-family: 'Pirou Regular';">T</span><span style="color: yellow; font-family: 'Pirou Regular';">E</span><span style="color: orange; font-family: 'Pirou Regular';">C</span><span style="color: aqua; font-family: 'Pirou Regular';">N</span><span style="color: fuchsia; font-family: 'Pirou Regular';">O</span>
    </h1>
    <h3>Facturar Pedido</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">

    <div class="row">
      <br>
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
        <a ng-click="" class="btn btn-md btn-primary btn-block" role="button" style="margin-top:5px;">Aceptar</a>
        <br>
        <a ng-click="" class="btn btn-md btn-primary btn-block" role="button" style="margin-top:5px;">Cancelar</a>
      </div>
    </div>
  </div>
</div>