<div class="row">
  <div class="jumbotron jumbotron-home jumbotron-tables text-center">
    <h1>
      <span style="color: lawngreen; font-family: 'Metro Retro NF';">T</span><span style="color: yellow; font-family: 'Metro Retro NF';">E</span><span style="color: orange; font-family: 'Metro Retro NF';">C</span><span style="color: aqua; font-family: 'Metro Retro NF';">N</span><span style="color: fuchsia; font-family: 'Metro Retro NF';">O</span>
    </h1>
    <h3>Crear Plato</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <div class="row">
      <br>
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
        <a href="/pedir" class="btn btn-md btn-primary btn-block" role="button" style="margin-top:5px;">Volver</a>
      </div>
    </div>
  </div>
</div>