<div class="row">
  <div class="col-md-8 col-md-offset-2 text-center">
    <div class="panel panel-default" ng-show="!form">
      <div class="panel-heading"><h1>Perfil de Usuario</h1></div>
      <div class="panel-body">
        <img class="img-circle" alt="Profile Image" src="assets/images/profile.png" height="200" width="200">
        <hr>
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
          <p>Ususario:</p>
          <p class="text-uppercase text-primary">{{nick}}</p>
          <p>Nombre:</p>
          <p class="text-uppercase text-primary">{{name}}</p>
          <p>Apellido:</p>
          <p class="text-uppercase text-primary">{{lastName}}</p>
          <p>Correo:</p>
          <p class="text-uppercase text-primary">{{email}}</p>
          <p>Fecha de Registro:</p>
          <p class="text-uppercase text-primary">{{registeredDate | date:'yyyy-MM-dd HH:mm Z'}}</p>
          <p>Último Inicio de Sesión:</p>
          <p class="text-uppercase text-primary">{{lastlogin | date:'yyyy-MM-dd HH:mm Z'}}</p>
        </div>
      </div>
      <div class="panel-footer">
        <div class="row" ng-show="!admin">
          <div class="row" ng-show="changePassword">
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                <div class="col-md-6">
                  <a ng-click="showForm()" class="btn btn-md btn-primary btn-block" role="button" style="margin-top:5px;">Editar Perfil</a>
                </div>
                <div class="col-md-6">
                  <a ng-click="deleteAccount(user)" class="btn btn-md btn-danger btn-block" role="button" style="margin-top:5px;">Eliminar Perfil</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <h1>Editar Perfil</h1>
    <hr>
    <form ng-show="form">
      <img class="img-circle" alt="Profile Image" src="assets/images/profile.png" height="200" width="200">
      <span class="help-block h5">Nombre de usuario:</span>
      <input type="text" name="nick" class="form-control text-center" placeholder="Nombre de usuario" ng-model="user.nick" required>
      <span class="help-block h5">Nombre:</span>
      <input type="text" name="name" class="form-control text-center" placeholder="Nombre" ng-model="user.name">
      <span class="help-block h5">Apellido:</span>
      <input type="text" name="lastName" class="form-control text-center" placeholder="Apellido" ng-model="user.lastName">
      <hr>
      <div class="alert alert-danger" ng-if="error">
        <p class="h5">{{error}}</p>
      </div>
      <p class="h5">Complete la siguiente información para cambiar la contraseña</p>
      <input type="password" name="password" class="form-control text-center" placeholder="Contraseña Actual" ng-model="user.pass">
      <hr>
      <span class="help-block h6">La contraseña debe tener por lo menos 8 carácteres.</span>
      <input type="password" name="newPassword" class="form-control text-center" placeholder="Nueva Contraseña" ng-model="user.newPass" pattern=".{8,}">
      <br>
      <input type="password" name="confirmNewPassword" class="form-control text-center" placeholder="Confirmar Nueva Contraseña" ng-model="user.confirmNewPass" pattern=".{8,}">
      <hr>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
          <button class="btn btn-md btn-primary btn-block" type="submit" ng-click="change()">Actualizar</button>
          <a ng-click="showForm()" class="btn btn-md btn-primary btn-block" role="button" style="margin-top:5px;">Cancelar</a>
        </div>
      </div>
      <p class="h6">Olvidó su contraseña? <a ng-click="restore()">Restaurar Contraseña</a></p>
    </form>
    <div ng-show="success"><hr></div>
    <div class="alert alert-success" ng-show="success">
      <p class="h5">{{msg}}</p>
      <hr>
      <a ng-click="success = !success" class="btn btn-sm btn-success btn-block" role="button">Aceptar</a>
    </div>
    <div class="alert alert-success" ng-show="success1">
      <p class="h5">{{sent}}</p>
      <hr>
      <a ng-click="success1 = !success1" class="btn btn-sm btn-success btn-block" role="button">Aceptar</a>
    </div>
  </div>
</div>
