<div class="row">
  <div class="jumbotron jumbotron-home jumbotron-tables text-center">
    <h1>
      <span style="color: lawngreen; font-family: 'Metro Retro NF';">T</span><span style="color: yellow; font-family: 'Metro Retro NF';">E</span><span style="color: orange; font-family: 'Metro Retro NF';">C</span><span style="color: aqua; font-family: 'Metro Retro NF';">N</span><span style="color: fuchsia; font-family: 'Metro Retro NF';">O</span>
    </h1>
    <h3>Reservar Mesa</h3>
  </div>
</div>

<div class="row text-center" ng-if="successDelete">
  <br>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="alert alert-success">
      <span class="h4">{{successDelete}}</span>
      <hr>
      <a ng-click="ok()" class="btn btn-sm btn-success btn-block" role="button">Aceptar</a>  
    </div>
  </div>
</div>

<div class="row text-center" ng-if="reserveDo">
  <hr>
  <h4>Tu Reserva</h4><br>
  <span class="h4">Mesa: {{reserveDo.table}}</span>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <span>Fecha:</span><br>
        <span>{{reserveDo.date | date:'yyyy-MM-dd'}}</span>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <span>Hora:</span><br>
        <span>{{reserveDo.time | date:'HH:mm'}}</span>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
        <a ng-click="deleteReserve()" class="btn btn-md btn-danger btn-block" role="button" style="margin-top:5px;">Eliminar Reserva</a>
      </div>
    </div>
  <hr>
  </div>
</div>

<div class="row text-center">
  <br>
  <div class="col-md-4 col-sm-4 col-xs-4">
    <span>Mesa Disponible</span>
    <br>
    <span style="background-color: lawngreen; color: lawngreen;">----</span>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-4">
    <span>Mesa Reservada</span>
    <br>
    <span style="background-color: orange; color: orange;">----</span>
  </div>
  <div class="col-md-4 col-sm-4 col-xs-4">
    <span>Mesa Seleccionada</span>
    <br>
    <span style="background-color: aqua; color: aqua;">----</span>
  </div>
</div>

<div class="row text-center">
  <hr>
  <h4>Entrada</h4>
</div>
<div class="row text-center tables">
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableBlankSpace">
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableBlankSpace">
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableAvailable" ng-click="reserver('available', 1)" id="table1">
      <span>1</span>
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableAvailable" ng-click="reserver('available', 2)" id="table2">
      <span>2</span>
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableBlankSpace">
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableReserve" ng-click="reserver('reserved', 3)" id="table3">
      <span>3</span>
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableBlankSpace">
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableBlankSpace">
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableBlankSpace">
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableBlankSpace">
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableBlankSpace">
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableAvailable" ng-click="reserver('available', 4)" id="table4">
      <span>4</span>
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableBlankSpace">
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableBlankSpace">
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableAvailable" ng-click="reserver('available', 5)" id="table5">
      <span>5</span>
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableReserve" ng-click="reserver('reserved', 6)" id="table6">
      <span>6</span>
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableBlankSpace">
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableAvailable" ng-click="reserver('available', 7)" id="table7">
      <span>7</span>
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableReserve" ng-click="reserver('reserved', 8)" id="table8">
      <span>8</span>
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableBlankSpace">
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableReserve" ng-click="reserver('reserved', 9)" id="table9">
      <span>9</span>
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableAvailable" ng-click="reserver('available', 10)" id="table10">
      <span>10</span>
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableBlankSpace">
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableAvailable" ng-click="reserver('available', 11)" id="table11">
      <span>11</span>
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableAvailable" ng-click="reserver('available', 12)" id="table12">
      <span>12</span>
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableBlankSpace">
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableAvailable" ng-click="reserver('available', 13)" id="table13">
      <span>13</span>
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableAvailable" ng-click="reserver('available', 14)" id="table14">
      <span>14</span>
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableBlankSpace">
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableAvailable" ng-click="reserver('available', 15)" id="table15">
      <span>15</span>
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableReserve" ng-click="reserver('reserved', 16)" id="table16">
      <span>16</span>
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableBlankSpace">
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableBlankSpace">
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableBlankSpace">
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableBlankSpace">
    </div>
  </div>
  <div class="col-md-2 col-sm-2 col-xs-2 tableContainer" align="center">
    <div class="tableBlankSpace">
    </div>
  </div>
</div>
<div class="row text-center">
  <h4>Cocina</h4>
  <hr>
</div>

<div class="row text-center" ng-if="error">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="alert alert-warning">
      {{error}}
    </div>
  </div>
</div>

<div class="row text-center" ng-if="success">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="alert alert-success">
      <span class="h4">{{success}}</span>
      <br>
      <br>
      <span class="h4">Fecha: {{date | date:'yyyy-MM-dd'}}</span>
      <br>
      <span class="h4">Hora: {{time | date:'HH:mm'}}</span>
      <hr>
      <a ng-click="ok()" class="btn btn-sm btn-success btn-block" role="button">Aceptar</a>  
    </div>
  </div>
</div>

<div class="row text-center" ng-if="tableSelected">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <h4>Mesa seleccionada: {{tableSelected}}</h4>
    <br>
    <form>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
          <span class="help-block h5">Fecha:</span>
          <input type="date" name="date" class="form-control text-center time" placeholder="Fecha" ng-model="reser.date" required>
          <span class="help-block h5">Hora:</span>
          <input type="time" name="time" class="form-control text-center date" placeholder="Hora" ng-model="reser.time" required>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
          <button class="btn btn-md btn-primary btn-block" type="submit" ng-click="doReserver(reser)">Reservar</button>
          <a ng-click="cancel()" class="btn btn-md btn-primary btn-block" role="button" style="margin-top:5px;">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
</div>