<div class="row" ng-if="users">
    <div class="col-md-8 col-md-offset-2">
      <p class="h2 text-center">{{helloAdmin}}</p>
      <div class="text-center">
        <hr>
        <a ng-click="findName = !findName" class="btn btn-md btn-primary" role="button">Buscar por Usuario</a>
        <a ng-click="findEmail = !findEmail" class="btn btn-md btn-primary" role="button">Buscar por Correo</a>
      </div>
  
      <div class="col-md-12" ng-show="findName">
        <br>
        <form>
          <div class="input-group">
            <input ng-model="name" type="text" class="form-control" placeholder="Buscar por Usuario">
            <div class="input-group-btn">
              <button ng-click="findByName(name)" class="btn btn-default btn-info" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
  
      <div class="col-md-12" ng-show="findEmail">
        <br>
        <form>
          <div class="input-group">
            <input ng-model="email" type="email" class="form-control" placeholder="Buscar por Correo">
            <div class="input-group-btn">
              <button ng-click="findByEmail(email)" class="btn btn-default btn-primary" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
  
      <div ng-if="error"><hr></div>
      <div class="alert alert-danger text-center" ng-if="error">
        <p class="h3">{{error}}</p>
        <hr>
        <a ng-click="close()" class="btn btn-md btn-danger" role="button">Aceptar</a>
      </div>
      <div ng-if="success"><hr></div>
      <div class="alert alert-success text-center" ng-if="success">
        <p class="h3">{{success}}</p>
        <hr>
        <a ng-click="close()" class="btn btn-md btn-success" role="button">Aceptar</a>
      </div>
  
      <div class="col-md-12">
        <hr>
        <div class="col-md-4">
          <p class="h4 text-center">Total Usuarios: {{users.length}}</p>
        </div>
        <div class="col-md-4">
          <p class="h4 text-center text-success">Usuarios Activos: {{active}}</p>
        </div>
        <div class="col-md-4">
          <p class="h4 text-center text-danger">Usuarios Desactivados: {{disable}}</p>
        </div>
      </div>
  
      <div class="row" ng-show="searchUser">
        <div class="col-md-4 col-md-offset-4 text-center">
          <a ng-click="clear()" class="btn btn-md btn-primary btn-block" role="button">Limpiar</a>
          <p class="h4 text-center text-primary">Usuarios Encontrados: {{findCount}}</p>
          <br>
        </div>
      </div>
  
      <div ng-show="searchUser" class="col-md-12" style="height: 400px; overflow-y: scroll;">
        <div class="row" ng-if="noUsersFound">
          <div class="col-md-12">
            <div class="text-center">
              <br>
              <p class="h4 text-center">{{noUsersFound}} <strong class="h3 text-uppercase">{{nameFound}}</strong></p>
            </div>
          </div>
        </div>
        <div class="row">
          <br>
          <div ng-repeat="findUser in findUsers">
            <div class="col-md-12 users">
              <br>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-6">
                    <p class="h4" ng-if="findUser.local"><strong class="text-primary">Usuario Local</strong></p>
                    <p class="h4" ng-if="findUser.facebook"><strong class="text-primary">Usuarios Remoto (Facebook)</strong></p>
                    <p class="h4" ng-if="findUser.google"><strong class="text-primary">Usuario Remoto (Google)</strong></p>
                  </div>
                  <div class="col-md-6">
                    <p class="text-right h4" ng-if="findUser.local">Estado: <strong><i ng-if="findUser.local.state" class="fa fa-check text-success"></i><i ng-if="!findUser.local.state" class="fa fa-times text-danger"></i></strong></p>
                    <p class="text-right h4" ng-if="findUser.facebook">Estado: <strong><i ng-if="findUser.facebook.state" class="fa fa-check text-success"></i><i ng-if="!findUserfacebook.state" class="fa fa-times text-danger"></i></strong></p>
                    <p class="text-right h4" ng-if="findUser.google">Estado: <strong><i ng-if="findUser.google.state" class="fa fa-check text-success"></i><i ng-if="!findUser.google.state" class="fa fa-times text-danger"></i></strong></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <p ng-if="findUser.local">Nombre de Usuario: <strong class="text-uppercase">{{findUser.local.nickName}}</strong></p>
                    <p ng-if="findUser.facebook">Nombre: <strong class="text-uppercase">{{findUser.facebook.name}} {{findUser.facebook.lastName}}</strong></p>
                    <p ng-if="findUser.google">Nombre: <strong class="text-uppercase">{{findUser.google.name}} {{findUser.google.lastName}}</strong></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <p ng-if="findUser.local">Correo: <strong>{{findUser.local.email}}</strong></p>
                    <p ng-if="findUser.facebook">Correo: <strong>{{findUser.facebook.email}}</strong></p>
                    <p ng-if="findUser.google">Correo: <strong>{{findUser.google.email}}</strong></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p ng-if="findUser.local">Registrado desde: <strong>{{findUser.local.registeredDate | date:'EEE dd MMM, yyyy - HH:mm:ss'}}</strong></p>
                    <p ng-if="findUser.facebook">Registrado desde: <strong>{{findUser.facebook.registeredDate | date:'EEE dd MMM, yyyy - HH:mm:ss'}}</strong></p>
                    <p ng-if="findUser.google">Registrado desde: <strong>{{findUser.google.registeredDate | date:'EEE dd MMM, yyyy - HH:mm:ss'}}</strong></p>
                  </div>
                  <div class="col-md-6">
                    <p ng-if="findUser.local">Último inicio de sesión <strong>{{findUser.local.lastLogin | date:'EEE dd MMM, yyyy - HH:mm:ss'}}</strong></p>
                    <p ng-if="findUser.facebook">Último inicio de sesión <strong>{{findUser.facebook.lastLogin | date:'EEE dd MMM, yyyy - HH:mm:ss'}}</strong></p>
                    <p ng-if="findUser.google">Último inicio de sesión <strong>{{findUser.google.lastLogin | date:'EEE dd MMM, yyyy - HH:mm:ss'}}</strong></p>
                  </div>
                </div>
              </div>
              <div class="col-md-4" ng-if="!findUser.local.admin">
                <a ng-click="viewUser(findUser)" class="btn btn-sm btn-primary btn-block" role="button" style="margin-bottom: 5px;">Editar</a>
                <a ng-click="restorePasswordUser(findUser)" ng-if="!findUser.facebook && !findUser.google" class="btn btn-sm btn-primary btn-block" role="button" style="margin-bottom: 5px;">Restaurar Contraseña</a>
  
                <div ng-if="findUser.local">
                  <a ng-click="disableUser(findUser)" ng-if="findUser.local.state" class="btn btn-sm btn-primary btn-block" role="button" style="margin-bottom: 5px;">Desactivar</a>
                  <a ng-click="activeUser(findUser)" ng-if="!findUser.local.state" class="btn btn-sm btn-primary btn-block" role="button" style="margin-bottom: 5px;">Activar</a>
                </div>
  
                <div ng-if="findUser.google">
                  <a ng-click="disableUser(findUser)" ng-if="findUser.google.state" class="btn btn-sm btn-primary btn-block" role="button" style="margin-bottom: 5px;">Desactivar</a>
                  <a ng-click="activeUser(findUser)" ng-if="!findUser.google.state" class="btn btn-sm btn-primary btn-block" role="button" style="margin-bottom: 5px;">Activar</a>
                </div>
  
                <div ng-if="findUser.facebook">
                  <a ng-click="disableUser(findUser)" ng-if="findUser.facebook.state" class="btn btn-sm btn-primary btn-block" role="button" style="margin-bottom: 5px;">Desactivar</a>
                  <a ng-click="activeUser(findUser)" ng-if="!findUser.facebook.state" class="btn btn-sm btn-primary btn-block" role="button" style="margin-bottom: 5px;">Activar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div ng-show="!searchUser" class="col-md-12" style="height: 400px; overflow-y: scroll;">
        <div class="text-center" ng-if="noUsers">
          <p class="h2 text-center">{{noUsers}}</p>
        </div>
        <div ng-repeat="user in users">
          <div class="row">
            <div class="col-md-12 users">
              <br>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-6">
                    <p class="h4" ng-if="user.local"><strong class="text-primary">Usuario Local</strong></p>
                    <p class="h4" ng-if="user.facebook"><strong class="text-primary">Usuarios Remoto (Facebook)</strong></p>
                    <p class="h4" ng-if="user.google"><strong class="text-primary">Usuarios Remoto (Google)</strong></p>
                  </div>
                  <div class="col-md-6">
                    <p class="text-right h4" ng-if="user.local">Estado: <strong><i ng-if="user.local.state" class="fa fa-check text-success"></i><i ng-if="!user.local.state" class="fa fa-times text-danger"></i></strong></p>
                    <p class="text-right h4" ng-if="user.facebook">Estado: <strong><i ng-if="user.facebook.state" class="fa fa-check text-success"></i><i ng-if="!user.facebook.state" class="fa fa-times text-danger"></i></strong></p>
                    <p class="text-right h4" ng-if="user.google">Estado: <strong><i ng-if="user.google.state" class="fa fa-check text-success"></i><i ng-if="!user.google.state" class="fa fa-times text-danger"></i></strong></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <p ng-if="user.local">Nombre de Usuario: <strong class="text-uppercase">{{user.local.nickName}}</strong></p>
                    <p ng-if="user.facebook">Nombre: <strong class="text-uppercase">{{user.facebook.name}} {{user.facebook.lastName}}</strong></p>
                    <p ng-if="user.google">Nombre: <strong class="text-uppercase">{{user.google.name}} {{user.google.lastName}}</strong></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <p ng-if="user.local">Correo: <strong>{{user.local.email}}</strong></p>
                    <p ng-if="user.facebook">Correo: <strong>{{user.facebook.email}}</strong></p>
                    <p ng-if="user.google">Correo: <strong>{{user.google.email}}</strong></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <p ng-if="user.local">Registrado desde: <strong>{{user.local.registeredDate | date:'EEE dd MMM, yyyy - HH:mm:ss'}}</strong></p>
                    <p ng-if="user.facebook">Registrado desde: <strong>{{user.facebook.registeredDate | date:'EEE dd MMM, yyyy - HH:mm:ss'}}</strong></p>
                    <p ng-if="user.google">Registrado desde: <strong>{{user.google.registeredDate | date:'EEE dd MMM, yyyy - HH:mm:ss'}}</strong></p>
                  </div>
                  <div class="col-md-6">
                    <p ng-if="user.local">Último inicio de sesión <strong>{{user.local.lastLogin | date:'EEE dd MMM, yyyy - HH:mm:ss'}}</strong></p>
                    <p ng-if="user.facebook">Último inicio de sesión <strong>{{user.facebook.lastLogin | date:'EEE dd MMM, yyyy - HH:mm:ss'}}</strong></p>
                    <p ng-if="user.google">Último inicio de sesión <strong>{{user.google.lastLogin | date:'EEE dd MMM, yyyy - HH:mm:ss'}}</strong></p>
                  </div>
                </div>
              </div>
              <div class="col-md-4" ng-if="!user.local.admin">
                <a ng-click="viewUser(user)" class="btn btn-sm btn-primary btn-block" role="button" style="margin-bottom: 5px;">Editar</a>
                <a ng-click="restorePasswordUser(user)" ng-if="!user.facebook && !user.google" class="btn btn-sm btn-primary btn-block" role="button" style="margin-bottom: 5px;">Restaurar Contraseña</a>
  
                <div ng-if="user.local">
                  <a ng-click="disableUser(user)" ng-if="user.local.state" class="btn btn-sm btn-primary btn-block" role="button" style="margin-bottom: 5px;">Desactivar</a>
                  <a ng-click="activeUser(user)" ng-if="!user.local.state" class="btn btn-sm btn-primary btn-block" role="button" style="margin-bottom: 5px;">Activar</a>
                </div>
  
                <div ng-if="user.google">
                  <a ng-click="disableUser(user)" ng-if="user.google.state" class="btn btn-sm btn-primary btn-block" role="button" style="margin-bottom: 5px;">Desactivar</a>
                  <a ng-click="activeUser(user)" ng-if="!user.google.state" class="btn btn-sm btn-primary btn-block" role="button" style="margin-bottom: 5px;">Activar</a>
                </div>
  
                <div ng-if="user.facebook">
                  <a ng-click="disableUser(user)" ng-if="user.facebook.state" class="btn btn-sm btn-primary btn-block" role="button" style="margin-bottom: 5px;">Desactivar</a>
                  <a ng-click="activeUser(user)" ng-if="!user.facebook.state" class="btn btn-sm btn-primary btn-block" role="button" style="margin-bottom: 5px;">Activar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>